@use "../../styles/mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Architects Daughter", cursive;
}

.login{
    overflow-x: hidden;
    @include mixins.maxWidth();
}

.nav{
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 2rem;
    width: 100%;
}
