.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #802bb1;
}
.meal h3 {
  margin: 0 0 0.25rem 0;
}

.price {
  margin-top: 0.25rem;
  font-weight: 500;
  color: whitesmoke;
  font-size: 1.25rem;
}