.meals {
  max-width: 60rem;
  width: 100%;
  margin: 10vh auto;
  animation: mealsSlider 1s ease-out forwards;
}

.MealsLoading p{
  text-align: center;
  color: var(--color-btn);
}

.MealsError p{
  text-align: center;
  color: var(--color-btn);
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes mealsSlider {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
